<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ channel.snippet.title | safe }}</title>
    <meta name="title" content="{{ channel.snippet.title | e }}" />
    <meta name="description" content="{{ channel.snippet.description | e }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url_root }}" />
    <meta property="og:title" content="{{ channel.snippet.title | e }}" />
    <meta
      property="og:description"
      content="{{ channel.snippet.description | e }}"
    />
    <meta property="og:image" content="{{ request.url_root }}static/logo.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="{{ request.url_root }}" />
    <meta property="twitter:title" content="{{ channel.snippet.title | e }}" />
    <meta
      property="twitter:description"
      content="{{ channel.snippet.description | e }}"
    />
    <meta
      property="twitter:image"
      content="{{ request.url_root }}static/logo.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.5.0/dist/typography.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    {% include 'header.html' %}
    <div class="container mx-auto px-4 mb-8">
      {% block content %} {% endblock %}
    </div>
    {% include 'footer.html' %}
  </body>
  <script>
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    menuToggle.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden");
    });
  </script>
</html>
