{% extends "layout.html" %} {% block content %}
<br />
<nav class="bg-white shadow-md p-4">
  <ol class="list-reset flex text-gray-700">
    <li>
      <a href="/playlists" class="text-blue-500 hover:text-blue-700"
        >Playlists</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
      <a
        href="/playlist/{{ playlist.id }}"
        class="text-blue-500 hover:text-blue-700"
        >{{ playlist.snippet.title }}</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
      <span class="text-gray-400">{{ video.snippet.title }}</span>
    </li>
  </ol>
</nav>
<h1 class="text-2xl font-bold text-center my-4">
  {{ video.snippet.title | safe }}
</h1>

<div class="bg-white shadow rounded p-4">
  <div class="video-container my-4">
    <div class="w-full h-full">{{ video.player.embedHtml|safe }}</div>
  </div>
  <p>{{ video.snippet.description | replace('\n', '<br />') |safe }}</p>
</div>
{% endblock %}
