{% extends "layout.html" %}

{% block content %}
        <h1 class="text-2xl font-bold text-center my-4">Videos</h1>
        <div class="grid grid-cols-3 gap-4">
            {% for video in videos %}
            <div class="bg-white shadow rounded p-4">
                <a href="{{ url_for('video', video_id=video.id.videoId) }}">
                    <picture>
                        <source srcset="{{ video.snippet.thumbnails.high.url }}" media="(min-width: 800px)">
                        <source srcset="{{ video.snippet.thumbnails.default.url }}">
                        <img src="{{ video.snippet.thumbnails.default.url }}" alt="Video Thumbnail" class="w-full">
                      </picture>
                    <p class="font-semibold mt-2">{{ video.snippet.title | safe }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
{% endblock %}